<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/silverstripe/cms/tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <testsuite name="Default">
    <directory>./tests</directory>
  </testsuite>
  <logging/>
  <groups>
    <exclude>
      <group>sanitychecks</group>
    </exclude>
  </groups>
  <php>
    <get name="flush" value="1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
